{% comment %}
Display comments for a post if they exist
Usage: {% include comments.html post_slug=page.slug %}
{% endcomment %}

{% assign post_slug = include.post_slug %}
{% assign comments = site.data.comments[post_slug] %}

{% if comments and comments.size > 0 %}
<div class="comments-section">
    <h3>Comments ({{ comments.size }})</h3>
    
    {% for comment in comments %}
    <div class="comment" id="comment-{{ comment.id }}">
        <div class="comment-header">
            <strong class="comment-author">{{ comment.name }}</strong>
            <time class="comment-date" datetime="{{ comment.date | date_to_xmlschema }}">
                {{ comment.date | date: "%B %d, %Y at %I:%M %p" }}
            </time>
        </div>
        <div class="comment-content">
            {{ comment.message }}
        </div>
        {% if comment.wordpress_url %}
        <div class="comment-link">
            <a href="{{ comment.wordpress_url }}" target="_blank" rel="noopener">Original comment</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}